<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--开启注解的扫描,只扫描业务层和持久层，controller交给springMvc-->
    <context:component-scan base-package="com.aixuexi">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--spring来控制业务的逻辑，数据源，事务控制，aop等-->
    <!--这里最好引入配置文件-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="root"/>
        <property name="password" value="123"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/school"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
    </bean>

    <!--spring事务管理器,管理数据源的连接，提交等-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--整合mybatis
   目的：1.spring管理所有的组件 ,mapper的实现类
            service->Dao   @AutoWired
         2.sprig管理事务
   -->

    <!--开启基于注解的事务-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!--创建出sqlsession对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--指定配置文件的位置,引入mybatis的配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--指定mapperLocation的位置-->
        <property name="mapperLocations" value="classpath:com/aixuexi/dao/*.xml"/>
    </bean>

    <!--<mybatis-spring:scan base-package="com.aixuexi.dao"/>-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.aixuexi.dao"/>
    </bean>




</beans>